<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>AGENDA</title>
  </head>
  <body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">AGENDA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('contact')}}">LISTE</a>
        </li>
        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_USER") %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('ajouter')}}">Ajouter un contact</a>
        </li>
        {% endif %} 
      </ul>
    </div>
  </div>
</nav>

     {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_USER") %}
    
        <p>  Vous être connecté en tant que {{ app.user.email }}
         
          <a href="{{ path('app_logout')}}">Se déconnecter</a>

        </p>  
        {% else %}
        <button>
          <a class="nav-link active" aria-current="page" href="{{ path('app_register')}}">Inscription</a>
        </button>

         <button>
          <a class="nav-link active" aria-current="page" href="{{ path('app_login')}}">Connexion</a>
        </button>

        {% endif %} 
      
        

        


  {% block msgAdd %}
  {% endblock %}


{# <div class='container'> #}
    {% block body %}

    <h1>Liste des contacts</h1>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Tél.</th>
      <th scope="col">Catégorie</th>
      {# <th scope="col">Adresse</th> #}
      {# <th scope="col">Ville</th> #}
      {# <th scope="col">Age</th> #}
      
      <th scope="col">Action</th>


    </tr>
  </thead>
  <tbody>
    
   {% for contact in contacts %}
    <tr>

    {# // loop.index pour avoir le ID directement d'un tableau : #}
      <th>{{ contact.id }} </th>
      <td> {{ contact.nom }}</td>
      <td>{{ contact.prenom }}</td>
      <td>{{ contact.telephone }}</td>
      <td>{{ contact.category.title }}</td>

      {# <td>{{ contact.adresse }}</td> #}
      {# <td>{{ contact.ville }}</td>
      <td>{{ contact.age }}</td> #}
      

      <td><a href="{{ path('perso', {paramId: contact.id}) }}" type="button" class="btn btn-info">Afficher</a>  {% if app.user %} <a href="{{ path('edit', {paramId: contact.id}) }}" type="button" class="btn btn-warning">Modifier</a>  <a href="{{ path('supp', {paramId: contact.id}) }}" type="button" class="btn btn-danger">Supprimer</a> {% endif %}</td>
      
    </tr>
{% endfor %}

  </tbody>
</table>
{% endblock %}

{# </div> #}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>